@import url('https://fonts.googleapis.com/css?family=Merriweather:900i|Open+Sans:300,400,700,800');
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Merriweather', serif;
$primary-font-color: white;
$secondary-text-color: #959595;
$headings-color:  #222626
